{%  extends 'base.html.twig' %}

{% block body  %}
    </br>
    <div class="row justify-content-between align-items-center">
        <div class="column">
            <img src="{{ BandeDessinee.getAffiche() }}" style="width: 200px;">
            <p class="ml-2"> Note :  {{ Note }} / 5 sur {{ nbNotes }} notes</p>
        </div>
        <div class="column mx-auto text-center">
            <p> AUTEUR {{ BandeDessinee.getAuteur() }} • PARUTION {{ BandeDessinee.getDateDeParution()|date("d/m/Y") }} • THEME {{ BandeDessinee.getGenre() }} {{ BandeDessinee.getSousGenre() }}</p>
            <h1 class="BD-title"> {{ BandeDessinee.getTitre() }} </h1>
            <p class="BD-Description"> {{ BandeDessinee.getDescription() }} </p>

        </div>

        <div class="column">
            <button type="button" class="btn button-download" onclick="window.open('{{ BandeDessinee.getLivrePDF() }}', '_blank')"> Ouvrir la BD</button>
        </div>

    </div>

    <div class="card mx-auto div-planche" style="margin-top: 20px;">
        <ul class="list-group list-group-horizontal-lg d-flex justify-content-around">
            {% for Planche in Planches %}
                <li class="list-group-item d-flex justify-content-between align-items-center " style="margin: 5px;">
                    <img src="{{ Planche }}" class="planche-img">   <!-- planches en fonction des id -->
                </li>
            {% endfor %}
        </ul>
    </div>


    </br> </br>
    <section class="comments">
        <h4> Commentaires : </h4>
        </br>

        {{ form(form) }}

        {% for Commentaire in Commentaires  %}
        <article class="comment">
            <div class="comment-body">
                <div class="text comment-border">
                    <p class="comment-content"> {{ Commentaire.getContenu() }} </p>
                </div>
                <p class="attribution">par {{ Commentaire.getAuteur() }} le {{ Commentaire.getDate() |date("d/m/Y")}} a {{ Commentaire.getDate() |date("H:i:s")}}</p>
            </div>
        </article>
        {% endfor %}
    </section>

{% endblock %}