{%  extends 'base.html.twig' %}

{% block body  %}




        <h2 class="home-title"> Tendances</h2>

        <div class="row justify-content-between tendance-zone">
            {% for  BDTendance in BDTendances%}
                <div class="column align-items-center">
                     <a href="/BD/{{ BDTendance.getId() }}"> <img src="{{ BDTendance.getAffiche() }}" class="mr-3" style="height: 200px" alt="affiche_test.jpg"> </a>
                    <a href="/BD/{{ BDTendance.getId() }}" class="bdtendance-title-link"> <p class="bdtendance-title"> {{ BDTendance.getTitre() }}</p> </a>
                     <p class="bdtendance-author"> par {{ BDTendance.getAuteur() }}</p>
                </div>
            {% endfor %}
        </div>

    <div class="row justify-content-between tendance-zone">
        {% for  MangaTendance in MangasTendances%}
            <div class="column align-items-center">
                <a href="/BD/{{ MangaTendance.getId() }}"> <img src="{{ MangaTendance.getAffiche() }}" class="mr-3" style="height: 200px" alt="affiche_test.jpg"> </a>
                <a href="/BD/{{ MangaTendance.getId() }}" class="bdtendance-title-link"> <p class="bdtendance-title"> {{ MangaTendance.getTitre() }}</p> </a>
                <p class="bdtendance-author"> par {{ MangaTendance.getAuteur() }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="row justify-content-between tendance-zone">
        {% for  ComicTendance in ComicsTendances%}
            <div class="column align-items-center">
                <a href="/BD/{{ ComicTendance.getId() }}"> <img src="{{ ComicTendance.getAffiche() }}" class="mr-3" style="height: 200px" alt="affiche_test.jpg"> </a>
                <a href="/BD/{{ ComicTendance.getId() }}" class="bdtendance-title-link">  <p class="bdtendance-title"> {{ ComicTendance.getTitre() }} </p> </a>
                <p class="bdtendance-author"> par {{ ComicTendance.getAuteur() }}</p>
            </div>
        {% endfor %}
    </div>



{% endblock %}