{%  extends 'base.html.twig' %}

{% block body  %}



        <h2 class="home-title"> Tendances</h2>

        <div class="tendance-zone">
            {% for  BDTendance in BDTendances%}
                <div class="uneBdTendance">
                    <p class="sousGenre"> {{ BDTendance.getSousGenre() }}</p>
                     <a href="/BD/{{ BDTendance.getId() }}"> <img src="{{ BDTendance.getAffiche() }}" class="mr-3 bdtendance-affiche" alt="affiche_test.jpg"> </a>
                    <a href="/BD/{{ BDTendance.getId() }}" class="bdtendance-title-link"> <p class="bdtendance-title"> {{ BDTendance.getTitre() }}</p> </a>
                     <p class="bdtendance-author"> par {{ BDTendance.getAuteur() }}</p>
                </div>
            {% endfor %}
            {% if BDTendances != null %}
            <button type="button" onclick="window.location.href='/listeBD/BD/Tendances/1'" class="bdtendance-voirplus">Voir plus</button>
            {% endif %}
        </div>

    <div class="tendance-zone">
        {% for  MangaTendance in MangasTendances%}
            <div class="uneBdTendance">
                <p class="sousGenre"> {{ MangaTendance.getSousGenre() }}</p>
                <a href="/BD/{{ MangaTendance.getId() }}" style="display: inline;"> <img src="{{ MangaTendance.getAffiche() }}" class="mr-3 bdtendance-affiche" alt="affiche_test.jpg"> </a>
                <a href="/BD/{{ MangaTendance.getId() }}" class="bdtendance-title-link"> <p class="bdtendance-title"> {{ MangaTendance.getTitre() }}</p> </a>
                <p class="bdtendance-author"> par {{ MangaTendance.getAuteur() }}</p>
            </div>
        {% endfor %}
        {% if BDTendances != null %}
         <button type="button" onclick="window.location.href='/listeBD/Mangas/Tendances/1'" class="bdtendance-voirplus">Voir plus</button>
        {% endif %}
    </div>

    <div class="tendance-zone">
        {% for  ComicTendance in ComicsTendances%}
            <div class="uneBdTendance">
                <p class="sousGenre"> {{ ComicTendance.getSousGenre() }}</p>
                <a href="/BD/{{ ComicTendance.getId() }}"> <img src="{{ ComicTendance.getAffiche() }}" class="mr-3 bdtendance-affiche"  alt="affiche_test.jpg"> </a>
                <a href="/BD/{{ ComicTendance.getId() }}" class="bdtendance-title-link">  <p class="bdtendance-title"> {{ ComicTendance.getTitre() }} </p> </a>
                <p class="bdtendance-author"> par {{ ComicTendance.getAuteur() }}</p>
            </div>
        {% endfor %}
        {% if BDTendances != null %}
         <button type="button" onclick="window.location.href='/listeBD/Comics/Tendances/1'" class="bdtendance-voirplus">Voir plus</button>
        {% endif %}
    </div>



{% endblock %}