{%  extends 'base.html.twig' %}

{% block body  %}



        <h2 class="home-title"> Tendances</h2>

    {# Zone des BD Tendances #}
        <div class="tendance-zone">
            {% for  BDTendance in BDTendances%}
                <div class="la-BD-tendance">
                    <a href="{{ path('listeBDSousGenre', {'genre' : BDTendance.getGenre(), 'sousGenre' : BDTendance.getSousGenre(),'page' : 1}) }}"> <p class="sous-genre"> {{ BDTendance.getSousGenre() }}</p> </a>
                     <a href="{{ path('BDDetaillee', {'id' : BDTendance.getId(), 'genre' : BDTendance.getGenre() }) }}"> <img src="{{ BDTendance.getAffiche() }}" class="mr-3 bdtendance-affiche" alt="affiche_test.jpg"> </a>
                    <a href="{{ path('BDDetaillee', {'id' : BDTendance.getId(), 'genre' : BDTendance.getGenre() }) }}" class="bdtendance-title-link"> <p class="bdtendance-title"> {{ BDTendance.getTitre() }}</p> </a>
                     <p class="bdtendance-author"> par {{ BDTendance.getAuteur() }}</p>
                </div>
            {% endfor %}

            {% if BDTendances|length > 4 %}
            <button type="button" onclick="window.location.href='{{ path('listeBDGenre', {'genre' : 'BD', 'page' : 1}) }}'" class="bdtendance-voirplus">Voir plus</button>
            {% endif %}
        </div>

    {# Zone des Mangas Tendances #}
    <div class="tendance-zone">
        {% for  MangaTendance in MangasTendances%}
            <div class="la-BD-tendance">
                <a href="{{ path('listeBDSousGenre', {'genre' : MangaTendance.getGenre(), 'sousGenre' : MangaTendance.getSousGenre(),'page' : 1}) }}"> <p class="sous-genre"> {{ MangaTendance.getSousGenre() }}</p> </a>
                <a href="{{ path('BDDetaillee', {'id' : MangaTendance.getId(), 'genre' : MangaTendance.getGenre() }) }}" style="display: inline;"> <img src="{{ MangaTendance.getAffiche() }}" class="mr-3 bdtendance-affiche" alt="affiche_test.jpg"> </a>
                <a href="{{ path('BDDetaillee', {'id' : MangaTendance.getId(), 'genre' : MangaTendance.getGenre() }) }}" class="bdtendance-title-link"> <p class="bdtendance-title"> {{ MangaTendance.getTitre() }}</p> </a>
                <p class="bdtendance-author"> par {{ MangaTendance.getAuteur() }}</p>
            </div>
        {% endfor %}

        {% if MangasTendances|length > 4 %}
         <button type="button" onclick="window.location.href='{{ path('listeBDGenre', {'genre' : 'Mangas', 'page' : 1}) }}'" class="bdtendance-voirplus">Voir plus</button>
        {% endif %}
    </div>

    {# Zone des Comics Tendances #}
    <div class="tendance-zone">
        {% for  ComicTendance in ComicsTendances%}
            <div class="la-BD-tendance">
                <a href="{{ path('listeBDSousGenre', {'genre' : ComicTendance.getGenre(), 'sousGenre' : ComicTendance.getSousGenre(),'page' : 1}) }}"> <p class="sous-genre"> {{ ComicTendance.getSousGenre() }} </p> </a>
                <a href="/{{ ComicTendance.getGenre() }}/{{ ComicTendance.getId() }}"> <img src="{{ ComicTendance.getAffiche() }}" class="mr-3 bdtendance-affiche"  alt="affiche_test.jpg"> </a>
                <a href="/{{ ComicTendance.getGenre() }}/{{ ComicTendance.getId() }}" class="bdtendance-title-link">  <p class="bdtendance-title"> {{ ComicTendance.getTitre() }} </p> </a>
                <p class="bdtendance-author"> par {{ ComicTendance.getAuteur() }}</p>
            </div>
        {% endfor %}

        {% if ComicsTendances|length > 4 %}
         <button type="button" onclick="window.location.href='{{ path('listeBDGenre', {'genre' : 'Comics', 'page' : 1}) }}'" class="bdtendance-voirplus">Voir plus</button>
        {% endif %}
    </div>



{% endblock %}