{%  extends 'base.html.twig' %}


{% block body  %}

    {% if BandeDessinees is not empty %}
        <br/>
        <h2 class="text-center liste-title"> Vous consultez la liste des {{ GenreToString }}</h2>
        <br/>
    {% endif %}

    <ul class="list-unstyled">
        {% set i = 0 %}
        {% for BandeDessinee in BandeDessinees  %}

            <li class="media my-4">
                <a href="/BD/{{ BandeDessinee.getId() }}"> <img src="{{ BandeDessinee.getAffiche() }}" class="mr-3" style="height: 200px" alt="affiche_test.jpg"> </a>
                <div class="media-body">
                    <a href="/BD/{{ BandeDessinee.getId() }}" class="BDlist-link"><h5 class="mt-0 mb-1">{{ BandeDessinee.getTitre() }}</h5></a>
                    <p class="font-weight-bold">{{ BandeDessinee.getDateDeParution()|date("d/m/Y") }} •

                        {% if BandeDessinee.getSesNotes()|length != 0 %}
                            {{ BandeDessinee.getNoteMoyenne() }} / 5</p>
                        {% else  %}
                            Aucune note</p>
                        {% endif %}

                    <p>{{ BandeDessinee.getDescription() }}</p>
                </div>
            </li>

        {% endfor %}
    </ul>


    {# Si jamais il n'y a pas de BD dans la liste #}
    {% if BandeDessinees is empty %}
            <div class="row justify-content-between align-items-center" style="width: 600px;">
                <img src="/img/noresult.png" style="width: 200px;">
                <div class=column">
                    <h1 class="noresult-title"> OOPS ! </h1>
                    <h3> Aucun résultat trouvé</h3>
                </div>
            </div>
            <br/>
            <button type="button" class="btn button-download" onclick="window.location.href='http://mpapws.loc:9999/'"> Retour à la page d'accueil</button>
        {% endif %}


{% endblock %}
