{%  extends 'base.html.twig' %}


{% block body  %}

    {% if BandeDessinees is not empty %}
        <br/>
        <h2 class="text-center liste-title"> Vous consultez la liste des {{ GenreToString }}</h2>
        <br/>
    {% endif %}

    <ul class="list-unstyled">
        {% set i = 0 %}
        {% for BandeDessinee in BandeDessinees  %}

            <li class="media my-4">
                <a href="{{ path('BDDetaillee', {'id' : BandeDessinee.getId(), 'genre' : BandeDessinee.getGenre() }) }}"> <img src="{{ BandeDessinee.getAffiche() }}" class="mr-3" style="height: 200px" alt="affiche_test.jpg"> </a>
                <div class="media-body">
                    <a href="{{ path('BDDetaillee', {'id' : BandeDessinee.getId(), 'genre' : BandeDessinee.getGenre() }) }}" class="BDlist-link"><h5 class="mt-0 mb-1">{{ BandeDessinee.getTitre() }}</h5></a>
                    <p class="font-weight-bold">{{ BandeDessinee.getDateDeParution()|date("d/m/Y") }} •

                        {% if BandeDessinee.getSesNotes()|length != 0 %}
                            {{ BandeDessinee.getNoteMoyenne() }} / 5</p>
                        {% else  %}
                            Aucune note</p>
                        {% endif %}

                    <p>{{ BandeDessinee.getDescription() }}</p>
                </div>
            </li>

        {% endfor %}
    </ul>




{% endblock %}
